In [1]:
import pandas as pd
import numpy as np
import os

from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

In [2]:
train = pd.read_csv(r'C:\Users\dlwks\OneDrive\바탕 화면\VSCode\DACON_CODE_REVIEW\감귤 착과량\train.csv')
test = pd.read_csv(r'C:\Users\dlwks\OneDrive\바탕 화면\VSCode\DACON_CODE_REVIEW\감귤 착과량\test.csv')

In [3]:
train

,ID,착과량(int),수고(m),수관폭1(min),수관폭2(max),수관폭평균,2022-09-01 새순,2022-09-02 새순,2022-09-03 새순,2022-09-04 새순,...,2022-11-19 엽록소,2022-11-20 엽록소,2022-11-21 엽록소,2022-11-22 엽록소,2022-11-23 엽록소,2022-11-24 엽록소,2022-11-25 엽록소,2022-11-26 엽록소,2022-11-27 엽록소,2022-11-28 엽록소
0,TRAIN_0000,692,275.0,287.0,292.0,289.5,2.8,2.8,2.7,2.7,...,70.978249,70.876794,70.705253,70.559603,70.427356,70.340491,70.293830,70.262422,70.169841,70.043251
1,TRAIN_0001,534,293.0,284.0,336.0,310.0,3.3,3.3,3.3,3.2,...,71.535483,71.382303,71.253604,71.092665,70.955608,70.796630,70.597550,70.565088,70.560502,70.427600
2,TRAIN_0002,634,300.0,392.0,450.0,421.0,3.0,2.9,2.9,2.9,...,71.279804,71.199570,71.144020,71.026740,70.920038,70.876723,70.710129,70.595971,70.418203,70.399578
3,TRAIN_0003,639,289.0,368.0,379.0,373.5,3.1,3.0,3.0,3.0,...,69.934615,69.884124,69.845683,69.794682,69.779813,69.614644,69.455404,69.281590,69.238689,69.133970
4,TRAIN_0004,496,306.0,353.0,358.0,355.5,3.7,3.6,3.6,3.6,...,68.313016,68.285364,68.209860,68.209458,68.040083,67.859963,67.775556,67.701456,67.504244,67.410093
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2202,TRAIN_2202,119,230.0,353.0,367.0,360.0,4.7,4.6,4.5,4.5,...,66.347384,66.293609,66.193131,66.176590,66.109845,66.008775,65.889675,65.734066,65.586656,65.560547
2203,TRAIN_2203,611,266.0,337.0,400.0,368.5,3.1,3.0,3.0,3.0,...,73.438844,73.432194,73.355195,73.329491,73.271361,73.088750,73.071705,73.069036,72.952559,72.944396
2204,TRAIN_2204,650,237.0,353.0,362.0,357.5,3.0,3.0,2.9,2.9,...,67.576066,67.404347,67.394009,67.247428,67.117025,66.933771,66.734617,66.572095,66.506006,66.479459
2205,TRAIN_2205,363,281.0,337.0,403.0,370.0,3.9,3.9,3.8,3.8,...,66.766379,66.602606,66.510781,66.334637,66.323613,66.248731,66.202532,66.108962,65.934979,65.812084
2206,TRAIN_2206,17,228.0,389.0,398.0,393.5,5.3,5.2,5.2,5.1,...,72.885385,72.734930,72.629823,72.454654,72.389570,72.271680,72.208433,72.070977,71.872453,71.870512

In [4]:
y_var = ['착과량(int)']
id_var = list(train.columns[2 : 6])
season = list(train.columns[6 : 95])
yuprokso = list(train.columns[95 :])

In [5]:
train_melt = train.melt(id_vars = ['ID'] + y_var + id_var, value_vars = season + yuprokso)
test_melt = test.melt(id_vars = ['ID'] + id_var, value_vars = season + yuprokso)

train_melt['date'] = train_melt['variable'].apply(lambda x: x.split(' ')[0])
train_melt['type'] = train_melt['variable'].apply(lambda x: x.split(' ')[1])

test_melt['date'] = test_melt['variable'].apply(lambda x: x.split(' ')[0])
test_melt['type'] = test_melt['variable'].apply(lambda x: x.split(' ')[1])

In [6]:
train_melt

,ID,착과량(int),수고(m),수관폭1(min),수관폭2(max),수관폭평균,variable,value,date,type
0,TRAIN_0000,692,275.0,287.0,292.0,289.5,2022-09-01 새순,2.800000,2022-09-01,새순
1,TRAIN_0001,534,293.0,284.0,336.0,310.0,2022-09-01 새순,3.300000,2022-09-01,새순
2,TRAIN_0002,634,300.0,392.0,450.0,421.0,2022-09-01 새순,3.000000,2022-09-01,새순
3,TRAIN_0003,639,289.0,368.0,379.0,373.5,2022-09-01 새순,3.100000,2022-09-01,새순
4,TRAIN_0004,496,306.0,353.0,358.0,355.5,2022-09-01 새순,3.700000,2022-09-01,새순
...,...,...,...,...,...,...,...,...,...,...
392841,TRAIN_2202,119,230.0,353.0,367.0,360.0,2022-11-28 엽록소,65.560547,2022-11-28,엽록소
392842,TRAIN_2203,611,266.0,337.0,400.0,368.5,2022-11-28 엽록소,72.944396,2022-11-28,엽록소
392843,TRAIN_2204,650,237.0,353.0,362.0,357.5,2022-11-28 엽록소,66.479459,2022-11-28,엽록소
392844,TRAIN_2205,363,281.0,337.0,403.0,370.0,2022-11-28 엽록소,65.812084,2022-11-28,엽록소
392845,TRAIN_2206,17,228.0,389.0,398.0,393.5,2022-11-28 엽록소,71.870512,2022-11-28,엽록소

In [7]:
train_melt_preproc = train_melt[['ID'] + y_var + id_var + ['date']].drop_duplicates().reset_index(drop = True).merge(
    train_melt[train_melt['type'] == '새순'][['ID', 'date', 'value']].rename(columns = {'value' : '새순'}), how = 'left'
).merge(
    train_melt[(train_melt['type'] == '새순') & (train_melt['date'] == '2022-09-01')][['ID', 'value']].rename(columns = {'value' : '새순0'}), how = 'left'    
).merge(
    train_melt[(train_melt['type'] == '새순') & (train_melt['date'] == '2022-10-15')][['ID', 'value']].rename(columns = {'value' : '새순1'}), how = 'left'
).merge(
    train_melt[train_melt['type'] == '엽록소'][['ID', 'date', 'value']].rename(columns = {'value' : '엽록소'}), how = 'left'
)

train_melt_preproc['새순diff0'] = train_melt_preproc['새순'] - train_melt_preproc['새순0']
train_melt_preproc['새순diff1'] = train_melt_preproc['새순'] - train_melt_preproc['새순1']
train_melt_preproc['엽록소_새순'] = train_melt_preproc['엽록소'] / (train_melt_preproc['새순'] + 0.1) # 분모 0 방지

In [9]:
test_melt_preproc = test_melt[['ID'] + id_var + ['date']].drop_duplicates().reset_index(drop = True).merge(
    test_melt[test_melt['type'] == '새순'][['ID', 'date', 'value']].rename(columns = {'value' : '새순'}), how = 'left'
).merge(
    test_melt[(test_melt['type'] == '새순') & (test_melt['date'] == '2022-09-01')][['ID', 'value']].rename(columns = {'value' : '새순0'}), how = 'left'
).merge(
    test_melt[(test_melt['type'] == '새순') & (test_melt['date'] == '2022-10-15')][['ID', 'value']].rename(columns = {'value' : '새순1'}), how = 'left'
).merge(
    test_melt[test_melt['type'] == '엽록소'][['ID', 'date', 'value']].rename(columns = {'value' : '엽록소'}), how = 'left'
)

test_melt_preproc['새순diff0'] = test_melt_preproc['새순'] - test_melt_preproc['새순0']
test_melt_preproc['새순diff1'] = test_melt_preproc['새순'] - test_melt_preproc['새순1']
test_melt_preproc['엽록소_새순'] = test_melt_preproc['엽록소'] / (test_melt_preproc['새순'] + 0.1) # 분모 0 방지

In [10]:
display(train_melt_preproc)
display(test_melt_preproc)

,ID,착과량(int),수고(m),수관폭1(min),수관폭2(max),수관폭평균,date,새순,새순0,새순1,엽록소,새순diff0,새순diff1,엽록소_새순
0,TRAIN_0000,692,275.0,287.0,292.0,289.5,2022-09-01,2.8,2.8,1.7,78.336504,0.0,1.1,27.012587
1,TRAIN_0001,534,293.0,284.0,336.0,310.0,2022-09-01,3.3,3.3,1.9,80.116691,0.0,1.4,23.563733
2,TRAIN_0002,634,300.0,392.0,450.0,421.0,2022-09-01,3.0,3.0,1.8,79.118529,0.0,1.2,25.522106
3,TRAIN_0003,639,289.0,368.0,379.0,373.5,2022-09-01,3.1,3.1,1.9,77.936262,0.0,1.2,24.355082
4,TRAIN_0004,496,306.0,353.0,358.0,355.5,2022-09-01,3.7,3.7,2.1,76.233231,0.0,1.6,20.061377
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196418,TRAIN_2202,119,230.0,353.0,367.0,360.0,2022-11-28,0.0,4.7,2.5,65.560547,-4.7,-2.5,655.605473
196419,TRAIN_2203,611,266.0,337.0,400.0,368.5,2022-11-28,0.6,3.1,1.9,72.944396,-2.5,-1.3,104.206281
196420,TRAIN_2204,650,237.0,353.0,362.0,357.5,2022-11-28,0.5,3.0,1.8,66.479459,-2.5,-1.3,110.799099
196421,TRAIN_2205,363,281.0,337.0,403.0,370.0,2022-11-28,0.0,3.9,2.2,65.812084,-3.9,-2.2,658.120840
196422,TRAIN_2206,17,228.0,389.0,398.0,393.5,2022-11-28,0.0,5.3,2.8,71.870512,-5.3,-2.8,718.705120

,ID,수고(m),수관폭1(min),수관폭2(max),수관폭평균,date,새순,새순0,새순1,엽록소,새순diff0,새순diff1,엽록소_새순
0,TEST_0000,231.0,219.0,302.0,260.5,2022-09-01,4.3,4.3,2.3,80.299924,0.0,2.0,18.249983
1,TEST_0001,206.0,324.0,346.0,335.0,2022-09-01,2.5,2.5,1.6,75.389791,0.0,0.9,28.996074
2,TEST_0002,282.0,373.0,404.0,388.5,2022-09-01,4.7,4.7,2.6,82.042248,0.0,2.1,17.092135
3,TEST_0003,234.0,337.0,357.0,347.0,2022-09-01,3.6,3.6,2.1,81.213424,0.0,1.5,21.949574
4,TEST_0004,222.0,329.0,347.0,338.0,2022-09-01,2.7,2.7,1.7,80.665529,0.0,1.0,28.809118
...,...,...,...,...,...,...,...,...,...,...,...,...,...
196507,TEST_2203,217.0,265.0,288.0,276.5,2022-11-28,0.6,2.5,1.5,69.601365,-1.9,-0.9,99.430521
196508,TEST_2204,182.0,191.0,262.0,226.5,2022-11-28,0.0,4.1,2.3,65.632342,-4.1,-2.3,656.323420
196509,TEST_2205,254.0,280.0,332.0,306.0,2022-11-28,0.6,3.8,2.2,62.307955,-3.2,-1.6,89.011365
196510,TEST_2206,257.0,285.0,297.0,291.0,2022-11-28,0.0,4.5,2.5,63.343589,-4.5,-2.5,633.435889
196511,TEST_2207,244.0,380.0,391.0,385.5,2022-11-28,0.0,4.9,2.7,64.025473,-4.9,-2.7,640.254730